[core]
    editor = nvim
    quotepath = false
    excludesfile = ~/.gitignore_global
    autocrlf = false
    ignorecase = false
[rebase]
    autostash = true
[push]
    default = simple
[pull]
    rebase = false
[fetch]
    prune = true
[alias]
    log-graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=format-local:'%Y/%m/%d %H:%M:%S'
    d1 = diff HEAD~
    d2 = diff HEAD~~
    d3 = diff HEAD~~~
    d4 = diff HEAD~~~~
    d5 = diff HEAD~~~~~
    d10 = diff HEAD~~~~~~~~~~
    s = status
    d = diff
    ds = diff --staged
    c = commit -v
    p = pull -p
    f = fetch -p
    unstage = !git restore --staged . && echo 'unstaged' && git status --short
    # for safety cancel https://thinca.hatenablog.com/entry/20120924/1348491052
    cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
[pager]
    log = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight|less --RAW-CONTROL-CHARS --quiet -c
    show = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight|less --RAW-CONTROL-CHARS --quiet -c
    diff = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight|less --RAW-CONTROL-CHARS --quiet -c
[ghq]
    root = ~/git
[user]
    name = ykpythemind
    email = yukibukiyou@gmail.com
[url "git@github.com:"]
    insteadOf = https://github.com/
[init]
  defaultBranch = main

# for color blindness
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  local = yellow
  remote = cyan
[color "diff"]
  meta = yellow bold
  frag = yellow reverse
  old = red
  new = cyan
[color "status"]
  changed = red
  added = cyan
