[color]
    ui = auto
[core]
    editor = vim
    quotepath = false
    excludesfile = ~/.gitignore
    precomposeunicode = true
    autocrlf = false
[rebase]
    autostash = true
[push]
    default = simple
[alias]
    log-graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=format-local:'%Y/%m/%d %H:%M:%S'
    d1 = diff HEAD~            # HEADから1つ前とdiff
    d2 = diff HEAD~~           # HEADから2つ前とdiff
    d3 = diff HEAD~~~          # HEADから3つ前とdiff
    d4 = diff HEAD~~~~         # HEADから4つ前とdiff
    d5 = diff HEAD~~~~~        # HEADから5つ前とdiff
    d10 = diff HEAD~~~~~~~~~~  # HEADから10前とdiff
    gsub = !git-gsub.rb
    s = status
    d = diff
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[pager]
    log = diff-highlight|less -c
    show = diff-highlight|less -c
    diff = diff-highlight|less -c
[ghq]
    root = ~/git
[user]
	name = Yukito Ito
	email = yukibukiyou@gmail.com
