[color]
    ui = auto
[core]
    editor = vim
    quotepath = false
    excludesfile = ~/.gitignore_global
    precomposeunicode = true
    autocrlf = false
    ignorecase = false
[rebase]
    autostash = true
[push]
    default = simple
[alias]
    log-graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=format-local:'%Y/%m/%d %H:%M:%S'
    d1 = diff HEAD~
    d2 = diff HEAD~~
    d3 = diff HEAD~~~
    d4 = diff HEAD~~~~
    d5 = diff HEAD~~~~~
    d10 = diff HEAD~~~~~~~~~~
    s = status
    d = diff
    ds = diff --staged
    c = commit
[pager]
    log = diff-highlight|less -c
    show = diff-highlight|less -c
    diff = diff-highlight|less -c
[ghq]
    root = ~/git
[user]
    name = Yukito Ito
    email = yukibukiyou@gmail.com
